# Secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/
.pnp
.pnp.js

# Next build output
.next/
out/
next-env.d.ts

# Misc
.DS_Store
Thumbs.db
*.log
.vercel
*.tsbuildinfo
.vscode/
.idea/
*.swp
